@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-item1: hsl(178, 100%, 50%);
    --cor-item2: hsl(215, 51%, 70%);

    --cor-principal: hsl(217, 54%, 11%);
    --cor-card: hsl(216, 50%, 16%);
    --cor-linha: hsl(215, 32%, 27%);
    --cor-branco: hsl(0, 0%, 100%);

    --font-principal: 'Outfit', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.principal {
    height: 100%;
    max-width: 1440px;
    font-family: var(--font-principal);
    background-color: var(--cor-principal);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    background-color: var(--cor-card);
    width: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
}

.card .cabecalho__imagem {
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
}

.cabecalho__titulo {
    color: var(--cor-branco);
    margin-bottom: 10px;
    font-size: 18px;
}

.cabecalho__paragrafo, .items .item2, .card__creditos .creditos {
    color: var(--cor-item2);
    font-weight: 600;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.items .items__esquerda, .items__direita {
    display: flex;
    align-items: center;   
}

.items .item1, .item2 {
    font-size: .8rem;
    font-weight: 600;
}

.items .item1 {
    color: var(--cor-item1);
}

.items .icone1, .icone2 {
    margin-right: 5px;
    height: 70%;
}

.card__creditos::before {
    content: '';
    position: absolute;
    background-color: var(--cor-linha);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 100%;
}

.card__creditos {
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.card__creditos .avatar {
    width: 10%;
    border: 2px solid lightgray;
    border-radius: 50%;
    margin: 10px;
}

.card__creditos .creditos--nome {
    color: var(--cor-branco);
}

.rodape {
    background-color: var(--cor-card);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rodape .challenge {
    color: var(--cor-item2);
    font-size: 12px;
}

.rodape .challenge a {
    transition: 0.3s ease-in-out;
}

.rodape .challenge a:hover{
    color: var(--cor-item1);
}

.rodape a {
    color: var(--cor-branco);
}